.title {
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  text-align: center;
  font-weight: 900;
  color: rgba(175, 47, 47, 0.15);
  margin-bottom: 20px;
  transition:0.3s ease all ;
}

.title:hover{color: rgba(232, 81, 72, 0.85);}
